*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;


}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 2rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    min-height: 70vh;
    padding: 17rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}

.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    top: 3 rem;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}



.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;

}
.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Web Developer";
    color: var(--main-color);
    animation: word 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100%+8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite,typing 20s steps(19) infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid var(--main-color);
    }
}
@keyframes word{
    0%,20%{
        content: "Frontend Developer";
    }
    21%,40%{
        content: "Web Developer";
    }
    41%,60%{
        content: "Coder";
    }
    61%,80%{
        content: "Web Developer";
    }
    81%,100%{
        content: "Software Developer";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    0%,
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%,
    100%{
        width: calc(103%);
    }


}

.education {
    background: var(--bg-color);
    padding: 10rem 12%;
    color: var(--text-color);
    text-align: center;
}

.section-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 4rem;
    position: relative;
    display: inline-block;
    text-shadow: 0 0 25px var(--main-color);
}

.timeline {
    position: relative;
    padding: 2rem 0;
    margin-top: 4rem;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: var(--main-color);
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 2rem 4rem;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 50%;
}

.timeline-item:nth-child(odd)::before {
    content: '';
    position: absolute;
    right: -6px;
    top: 20px;
    width: 12px;
    height: 12px;
    background: var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--main-color);
}

.timeline-item:nth-child(even)::before {
    content: '';
    position: absolute;
    left: -6px;
    top: 20px;
    width: 12px;
    height: 12px;
    background: var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--main-color);
}

.timeline-content {
    background: var(--bg-color);
    padding: 2rem 3rem;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    position: relative;
    border: 2px solid var(--main-color);
    transition: 0.4s ease-in-out;
}

.timeline-content:hover {
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color), 0 0 100px var(--main-color);
    transform: scale(1.05);
}

.timeline-content h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.timeline-content span {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--main-color);
}

.timeline-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    color: var(--text-color);
}
.projects {
    background: var(--bg-color);
    padding: 11rem 1% 4rem;
    margin-bottom: 0;
    color: var(--text-color);
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
}

.section-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 4rem;
    position: relative;
    display: inline-block;
    text-shadow: 0 0 25px var(--main-color);
}

.project-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 4rem;
}

.project-item {
    display: inline-block;
    background: var(--bg-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--main-color);
    transition: 0.4s ease-in-out;
    width: 460px;
    text-align: left;
    white-space: normal;
}

.project-item:hover {
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color), 0 0 100px var(--main-color);
    transform: scale(1.05);
}

.project-content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.project-content p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8;
    color: var(--text-color);
}
.contact {
    background: var(--bg-color);
    padding: 4rem 12% 10rem;
    margin-top: 0;
    color: var(--text-color);
    text-align: center;
}

.section-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 4rem;
    position: relative;
    display: inline-block;
    text-shadow: 0 0 25px var(--main-color);
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    width: 100%;
    max-width: 800px;
    background: var(--bg-color);
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--main-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.form-group {
    position: relative;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 1.2rem;
    background: none;
    border: 2px solid var(--main-color);
    color: var(--text-color);
    font-size: 1.6rem;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
}

.form-group label {
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    font-size: 1.6rem;
    color: var(--main-color);
    pointer-events: none;
    transition: 0.3s;
}

.form-group input:focus + label,
.form-group input:valid + label,
.form-group textarea:focus + label,
.form-group textarea:valid + label {
    top: -1.5rem;
    left: 1.2rem;
    font-size: 1.2rem;
    color: var(--text-color);
}

.form-group textarea {
    grid-column: span 2;
}

.btn {
    grid-column: span 2;
    display: inline-block;
    padding: 1.2rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 2rem;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.footer {
    background: var(-bg-color);
    padding: 2rem 0;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.social-icon:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.social-icon i {
    pointer-events: none;
}
